## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [7]:
7 **4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = ["Hi","there","Sam!"]

In [6]:
s

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [22]:
planet = "Earth"
diameter = 12742

In [23]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def domainGet(email):
    return email.split('@')[-1]

In [14]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def findDog(st):
    return 'dog' in st.lower().split()

In [16]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [18]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [20]:
caught_speeding(81,False)

'Big Ticket'

In [21]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [4]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('C:/Users/Admin/Desktop/dilip.CSV')

In [8]:
df

   sl.no   emp id no    Emp name  Emp dept  emp salary
0      1         1101    R.Dilip  Designer       50000
1      2         1102   E.Ramesh   plumber       50000
2      3         1103  R.Dilipan  polisher       50000
3      4         1104      D.Raj        HR       50000
4      5         1105   G.Elango   manager       50000

In [3]:
numberofworker = int(input("Enter the amount of worker:\n"))
salary = 50000
total = 0.00
print("workers\tSalary\n---\t----")
for currentDay in range(numberofworker):
    salary += 0 * salary
    total += salary
    print (currentDay +1, "\t", salary)
print ("total pay: $"+str (total))

Enter the amount of worker:
5
workers	Salary
---	----
1 	 50000
2 	 50000
3 	 50000
4 	 50000
5 	 50000
total pay: $250000.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [9]:
def Merge(dict1, dict2):
        res = dict1 | dict2
        return res
dict1 = {"Empid":1001,"Empname": 'R.dilip' ,"Basicpay":10000}
dict2 = {"DeptName":'IT', "DeptId":1108}
dict3 = Merge(dict1, dict2)
print(dict3)

{'Empid': 1001, 'Empname': 'R.dilip', 'Basicpay': 10000, 'DeptName': 'IT', 'DeptId': 1108}